@font-face {
  font-family: Custom;
  src: url(grandnationallaserital.ttf);
}

body
{
	//background-color: #F3FFF5;
	border: 0px;
	margin: 0px;
}

#header
{
	background-color: #004225;
//	color: #D0F0C0;
//	background-color: #00A86B;
	color: #BB0099;
	width: 100%;
	margin: 0px;
	padding-top: 1.3%;
	padding-bottom: 3.7%;
	font-weight: normal;
	position: fixed;
	top: 0;
	transition: 0.2s;
	z-index: 10;
	font-family: Helvetica;
}

#htext
{
	//color: coral;
	color: lime;
	position: relative;
	float: left;
	top: 50%;
	padding-top: 2%;
	padding-left: 15%;
	font-family: Custom, Magneto;
	//font-size: 5.1vw;
	font-size: 4.1vw;
}

h1
{
	font-family: Custom;
	//color: #990099;
	color: #004225;
	
}

h2
{
	font-family: Tahoma, Arial, sans-serif;
	font-size: 18;
	//color: #770077;
}

.content
{
	//color: #300030;
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 18%;
	text-align: justify;
	z-index: 1;
	padding-top: 0%;
	padding-bottom: 22.5%;
	margin-bottom: 11%;
	//background-color: pink;
}

#petr
{
	//width: 16.5%;
	width: 10.5%;
	border-radius: 25%;
	position: relative;
	float: right;
	right: 18%;
	vertical-align: middle;
}

#hdesc
{
	font-size: 1.0vw;
	position: absolute;
	padding-top: 6.4%;
	padding-left: 14%;
}

#header p
{
	color: #D0F0C0;
	color: #F3FFF5;
	
}

a, a:visited
{
	//color:#4400AA;
	//color:#000000;
	color:#004225;
}

a:hover, a:visited:hover
{
	color:#FF00FF;
}

#header a:active, #header a:visited:active
{
	color:#FF0000;
}

#header a, #header a:visited
{
	color:#F3FFF5;
}

#header a:hover, #header a:visited:hover
{
	color:#D0F0C0;
}


#header a:active, #header a:visited:active
{
	color:#0000FF;
}

.footer
{
	position: -webkit-sticky;
	position: sticky;
	width:100%;
	background-color: #004225;
	z-index: -1;
	height:10%;
	color: #D0F0C0;
}

.hidden
{
	visibility: hidden;
}

dt
{
	padding-top: 1em;
	font-weight: bold;
	margin-bottom: -1.1em;
}

dd
{
	padding-left: 15%;
}

.odd
{
	width: 60%;
	position: relative;
	left: 18%;
}

.even
{
	width: 60%;
	position: relative;
	background-color: #B0F0C0;
	padding-left: 18%;
	padding-top: 0.1em;
	padding-bottom: 0.3em;
	padding-right: 6%;
}

.even2
{
	width: 60%;
	position: relative;
	background-color: #B0F0C0;
	padding-left: 2%;
	margin-left: 16%;
	padding-right:22%;
	padding-top: 0.1em;
	padding-bottom: 0.3em;
}

#paper_text
{
	left: 2%;
	position: relative;
	width: 70%;
	float: left;
	margin-bottom: 1.7em;
}

#paper_text p
{
	margin-bottom: 0.5em;
	margin-top: 0em;
	//margin-bottom: 0.7em;
}

#paper_text h2
{
	margin-bottom: 0.7em;
}

#paper_img
{
	//width: 8.6em;
	height: 6.6em;
	padding-top: 1em;
	position: relative;
	float: right;
	right: 18%;
	vertical-align: bottom;
}

